// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// slim-loading-bar variables
$slim-loading-bar-color: #77b6ff;

/* Styling for the Slim Loading Progress Bar container */
.slim-loading-bar {
  position: fixed;
  margin: 0;
  padding: 0;
  top: $toolbar-ios-height + 2px;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* Styling for the Slim Loading Progress Bar itself */
.slim-loading-bar-progress {
  margin: 0;
  padding: 0;
  z-index: 99998;
  background-color: $slim-loading-bar-color !important;
  color: $slim-loading-bar-color !important;
  //box-shadow: 0 0 10px 0; /* Inherits the font color */
  height: 2px;
  opacity: 0;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
